body{
  font-family: Helvetica;
  text-align: center;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

#newyork{
  background-image: url(../images/the-flatiron-building.png);
  color: white;
  padding: 10px;
}

.container{
  padding: 10px;
}

header{
  background-image: url(../images/the-flatiron-building.png);
}

.nav {
  list-style-type: none;
  padding-bottom: 10px;
}

.nav li{
  margin: 10px;
}

.nav a{
  color: white;
}

footer{
  background-color: dimgray;
  text-align: left;
}

.footer{
  padding: 10px;
}

.inline{
  display: inline-block;
}
